*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --dark: #303030;
    --light: #ffff;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
}
html,
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b470fd;
}
.notifications {
    position: fixed;
    top: 20px;
    right: 20px;
}
.notifications :where(.toast, .column){
    display: flex;
    align-items:center;
}
.notifications .toast {
    background: var(--light);
    width: 450px;
    list-style: none;
    border-radius: 5px;
    padding: 1rem 1.1rem;
    margin-bottom: .8rem;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    animation: show-toast .3s ease forwards;
}
.notifications .toast.hide{
    animation: hide-toast .3s ease forwards;
}
.toast .column i {
    font-size: 1.75rem;
}
.toast .column span {
    font-size: 1.1rem;
    margin-left: .8rem;
}
.toast i:last-child{
    color: #000000;
    cursor: pointer;
}
.toast i:last-child:hover{
    color: #3b3b3b;
}
.toast::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: red;
    animation: progress 4s linear forwards;
}
.toast.success::before, .btn#success{
    background: var(--success);
}
.toast.error::before, .btn#error{
    background: var(--error);
}
.toast.warning::before, .btn#warning{
    background: var(--warning);
}
.toast.info::before, .btn#info{
    background: var(--info);
}
.toast.success .column i{
    color: var(--success);
}
.toast.error .column i{
    color: var(--error);
}
.toast.warning .column i{
    color: var(--warning);
}
.toast.info .column i{
    color: var(--info);
}
.buttons .btn {
    border: none;
    outline: none;
    color: #ececec;
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
@keyframes show-toast {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
@keyframes hide-toast {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(calc(100% + 20px));
    }
}
@keyframes progress {
    100%{
        width: 0%;
    }
}